.sidebar {
    width: 500px;
    height: 100vh;
    background: var(--color-sidebar-background);
    padding: 50px 85px 50px 25px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    overflow-y: scroll;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, .3);
    transition: transform .3s ease;
}

.opened-sidebar {
    transform: translateX(0);
}

.closed-sidebar {
    transform: translateX(500px);
}

.sidebar.opened-sidebar~.page-content {
    padding-right: 500px;
}

.sidebar.closed-sidebar~.page-content {
    padding-right: 60px;
}

.sidebar::-webkit-scrollbar,
.sidebar::-webkit-scrollbar-thumb {
    width: 3px;
    height: 3px;
}

#close-sidebar-btn {
    color: var(--color-text-primary);
    background: transparent;
    position: absolute;
    left: 10px;
    top: 5px;
    cursor: pointer;
}
